.raq-box .caption-list li.aggregate:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/aggregate.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dozers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dozers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.excavators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/excavators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.graders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/graders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-towers-and-generators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-towers-and-generators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.loaders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/loaders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.off-highway-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/off-highway-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pipelayers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pipelayers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scrapers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scrapers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.skid-steers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/skid-steers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.lifts:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/lifts.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.miscellaneous-construction-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/miscellaneous-construction-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.asphalt-pavers-concrete-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/asphalt-pavers-concrete-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.compactors-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/compactors-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scrap-processing-demolition:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scrap-processing-demolition.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.forestry-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/forestry-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.all-construction-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/all-construction-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.backhoes:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/backhoes.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.concrete-pumps-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/concrete-pumps-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.vacuum-pump:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/vacuum-pump.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.quick-coupler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/quick-coupler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.sea-can-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/sea-can-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.heavy-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.medium-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/medium-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.picker-truck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/picker-truck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.medim-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/medim-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.log-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/log-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.hayracks-frame:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/hayracks-frame.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oil:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oil.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-fluid-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-fluid-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.bulk-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/bulk-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.highboy-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/highboy-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-oilfield-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-oilfield-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dump-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dump-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.bottom-dump:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/bottom-dump.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.end-dump:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/end-dump.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.lowboy-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/lowboy-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck-no-beavertails:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck-no-beavertails.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pup-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pup-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fluid-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fluid-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-trailers-tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-trailers-tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.water:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/water.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oil-semi-trailers-tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oil-semi-trailers-tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.rvs-camping-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/rvs-camping-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.toy-haulers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/toy-haulers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.travel-trailer:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/travel-trailer.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.travel-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/travel-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-duty-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-duty-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.utility-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/utility-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-duty-flatbed-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-duty-flatbed-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.miscellaneous-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/miscellaneous-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.piston-helicopter:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/piston-helicopter.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.helicopter-tow-cart:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/helicopter-tow-cart.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fabric-helicopter-hangars:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fabric-helicopter-hangars.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.jet-aircrafts:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/jet-aircrafts.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.shredder-mower:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/shredder-mower.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.magnet:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/magnet.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.ripper:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/ripper.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.boom-truck-cranes:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/boom-truck-cranes.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.mounted:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/mounted.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.rough-terrain-cranes:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/rough-terrain-cranes.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.gantry-cranes-overhead-cranes:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/gantry-cranes-overhead-cranes.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.harvesters:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/harvesters.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tractors:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tractors.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.44-hp-99-hp-farm-tractors-global-machinery-auctions-alberta-canada:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/44-hp-99-hp-farm-tractors-global-machinery-auctions-alberta-canada.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tillage-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tillage-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.disks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/disks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.otr-off-road-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/otr-off-road-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wheel-loader-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wheel-loader-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.motor-grader-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/motor-grader-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.articulated-rock-truck-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/articulated-rock-truck-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.skid-steer-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/skid-steer-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.commercial-tires:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/commercial-tires.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-mining-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-mining-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-truck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-truck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-loader:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-loader.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tunneling-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tunneling-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.loaders-scooptrams:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/loaders-scooptrams.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-mining-refuge-chambers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-mining-refuge-chambers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-mining-ventilation-fans:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-mining-ventilation-fans.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-mining-scissor-lifters-utilift:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-mining-scissor-lifters-utilift.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.transmixers-for-sale-underground-mining:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/transmixers-for-sale-underground-mining.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-rail-man-trip-cars:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-rail-man-trip-cars.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-grout-cars:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-grout-cars.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.rolling-stock:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/rolling-stock.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.flat-cars:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/flat-cars.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.locomotives:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/locomotives.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.underground-drilling-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/underground-drilling-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.concrete-spraying-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/concrete-spraying-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.surface-mining-equipment-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/surface-mining-equipment-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.mining-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/mining-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.mining-emergency-shower:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/mining-emergency-shower.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.portable-heaters:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/portable-heaters.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.mining-power-systems:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/mining-power-systems.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.support-truck-mechanics:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/support-truck-mechanics.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.excavators-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/excavators-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.used-telehandlers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/used-telehandlers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.refrigeration-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/refrigeration-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wheel-loaders-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wheel-loaders-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.day-cab-trucks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/day-cab-trucks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.cement-trucks-and-tanks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/cement-trucks-and-tanks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fire-trucks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fire-trucks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.snow-plow-trucks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/snow-plow-trucks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.manlifts-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/manlifts-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pickup-trucks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pickup-trucks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.cranes-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/cranes-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.flat-decks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/flat-decks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.used-dozers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/used-dozers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.motor-graders-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/motor-graders-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.vacuum-excavation-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/vacuum-excavation-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.change-rooms-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/change-rooms-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fuel-storage-tanks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fuel-storage-tanks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.snow-blowers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/snow-blowers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.steam-generators-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/steam-generators-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.trailers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/trailers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.sea-can-containers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/sea-can-containers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.heavy-equipment-buckets:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-equipment-buckets.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.heavy-equipment-blades:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-equipment-blades.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.heavy-equipment-engine:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-equipment-engine.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.electric-motor-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/electric-motor-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.air-compressors-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/air-compressors-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.generator-set-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/generator-set-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.welders-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/welders-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.backhoes-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/backhoes-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.skid-steers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/skid-steers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pipes-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pipes-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.mud-tank-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/mud-tank-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dry-change-rooms:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dry-change-rooms.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.kitchen-diners:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/kitchen-diners.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.washcar:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/washcar.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.modular-and-man-camps-miscellaneous-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/modular-and-man-camps-miscellaneous-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wellsite-units:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wellsite-units.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.recreation-units:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/recreation-units.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wet-sleepers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wet-sleepers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.chemical-acid:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/chemical-acid.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-trucks-support-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-trucks-support-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-tank-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-tank-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-water-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-water-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-fluid-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-fluid-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pressure-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pressure-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.winch-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/winch-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.vacuum-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/vacuum-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.straight-vacuum:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/straight-vacuum.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.combo-vac:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/combo-vac.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.frac-super-heater-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/frac-super-heater-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oilfield-production:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oilfield-production.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.frac-tanks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/frac-tanks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.frac-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/frac-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.frac-super-heater:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/frac-super-heater.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.generators-power-system:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/generators-power-system.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.generators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/generators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.boat:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/boat.png);
  width: 50px;
  height: 30px;
  top: -7px;
}