.raq-box .caption-list li.aggregate:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/aggregate.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.screening-equipment-screening-plant:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/screening-equipment-screening-plant.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.conveyor-feeder-stacker:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/conveyor-feeder-stacker.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.soil-stabilizers-asphalt-reclaimers-and-recyclers-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/soil-stabilizers-asphalt-reclaimers-and-recyclers-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.crushers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/crushers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.jaw:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/jaw.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.cone:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/cone.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.power-vans-control-tower:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/power-vans-control-tower.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scales:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scales.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dump-gravel-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dump-gravel-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dozers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dozers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.excavators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/excavators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wheel-excavators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wheel-excavators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.crawler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/crawler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.graders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/graders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.motor-graders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/motor-graders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-towers-and-generators:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-towers-and-generators.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.loaders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/loaders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.backhoe-loaders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/backhoe-loaders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wheel-loaders:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wheel-loaders.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.off-highway-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/off-highway-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pipelayers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pipelayers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.compactors-equipment:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/compactors-equipment.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scrapers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scrapers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.skid-steers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/skid-steers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wheel-skid-steers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wheel-skid-steers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.track-skid-steers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/track-skid-steers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}

.raq-box .caption-list li.heavy-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.heavy-duty-tank-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/heavy-duty-tank-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.water-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/water-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.vacuum-truck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/vacuum-truck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fluid-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fluid-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.chemical-acid-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/chemical-acid-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pressure:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pressure.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.winch-oil-field-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/winch-oil-field-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.conventional-trucks-w-sleeper:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/conventional-trucks-w-sleeper.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oil-field-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oil-field-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.rock-trucks-for-sale:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/rock-trucks-for-sale.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.conventional-day-cab-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/conventional-day-cab-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dump-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dump-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.medium-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/medium-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.flatbed-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/flatbed-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.service-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/service-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.wash-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/wash-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pickup-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pickup-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.vans:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/vans.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.medium-duty-dump-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/medium-duty-dump-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.lube-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/lube-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.cab-and-chassis-trucks-medium-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/cab-and-chassis-trucks-medium-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.picker-truck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/picker-truck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.medim-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/medim-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dump-trucks-medim-duty-trucks:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dump-trucks-medim-duty-trucks.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.log-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/log-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.hayracks-frame:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/hayracks-frame.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oil:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oil.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-fluid-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-fluid-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.bulk-hauler:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/bulk-hauler.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.highboy-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/highboy-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-oilfield-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-oilfield-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.dump-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/dump-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.bottom-dump:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/bottom-dump.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.end-dump:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/end-dump.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.lowboy-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/lowboy-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.scissor-neck-no-beavertails:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/scissor-neck-no-beavertails.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.pup-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/pup-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.fluid-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/fluid-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.semi-trailers-tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/semi-trailers-tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.water:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/water.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.oil-semi-trailers-tank-trailers-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/oil-semi-trailers-tank-trailers-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.rvs-camping-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/rvs-camping-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.toy-haulers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/toy-haulers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.travel-trailer:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/travel-trailer.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.travel-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/travel-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-duty-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-duty-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.utility-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/utility-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.light-duty-flatbed-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/light-duty-flatbed-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
.raq-box .caption-list li.miscellaneous-trailers:after {
  background-image: url(https://globalwholesalemachinery.com/assets/icons/miscellaneous-trailers.png);
  width: 50px;
  height: 30px;
  top: -7px;
}
