@media all and (min-width: 992px) {
	.dropdown-menu li{ 
        position: relative;
    }
    .dropdown-menu li.position-top{
        position: static;
    }
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%;
        top:0;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ 
        background-color: #f1f1f1 
    }
	.dropdown-menu > li:hover > .submenu{ 
        display: block; 
    }
    .truth-title{
      margin-top: 165px;
    }
    .lg-object.lg-image{
      min-height: 84%;
    }

    .my-account-menu .col-lg-3 {
        flex: 0 0 auto;
        width: 22%;
    }
}	
@media (max-width: 1366px) {
	.home-ab-section .col-md-5.left {
        margin-left:0;
        width: 41.66666667%;
    }
    .hero-auction-caption {
      min-height: 620px!important;
    }
    .auction-caption a {
      top: 70%;
    }
}
@media (max-width: 1280px) {
    .noti-card .time-lbl{
        margin-right: 0px;
    }
    .hero-auction-caption {
      min-height: 560px!important;
    }
    .auction-caption a {
      top: 67%;
    }
}   
@media (max-width: 1120px) {
    .hero-slide .owl-controls{
        right: 0;
        padding-right: 15px;
        left: auto;
        max-width: inherit;
        width: auto;
    }
    .hero-caption h2{
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 40px;;
    }
    .hero-caption p{
        font-size: 15px;
        padding-right: 20px;
        margin-bottom: 15px;
    }
    .application-right-info .action-btn-row .primary-btn,
    .application-right-info .action-btn-row .secondary-btn{
        min-width: inherit;
    }
    .left-step-tab{
        padding: 20px;
        width: 280px;
    }
    .left-step-tab h2{
        font-size: 20px;
    }
    .left-step-tab h2::after{
        display: none;
    }
    .head-nav .dropdown-menu.max-width-menu {
        columns: 2;
        min-width: 500px;
    }
    .home-hero-sec{
        padding: 0px;
    }
    .hero-caption{
        max-width: 100%;
    }
    .three-block-card{
        padding: 15px;
    }
    .three-block-card .primary-btn{
        min-width: inherit;
    }
    .mobile-app-sec .app-sec h1{
        font-size: 38px;
    }
    .container{
        padding: 0 20px;
    }
    .contact-details{
        padding: 20px;
    }
    .contact-form{
        padding: 20px;
    }
    .dozer-midd-img{
        width: 240px;
        height: 240px;
    }
    .dozer-midd-img img{
        width: 60%;
    }
    .gma-fc-card{
        width: 300px;
    }
    .hero-auction-caption {
      min-height: 500px!important;
    }
    .auction-caption a {
      top: 65%;
    }
}
@media (max-width: 1024px){
    .slider-for-11 .slick-slide{
      height: 500px !important;
    }
}
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
    .head-nav .dropdown-menu.max-width-menu{
        min-width: inherit;
    }
    .reg-sign-card h1{
        font-size: 30px;
    }
    .makes-cat-card{
        padding: 15px;
    }
    .sell-equ-card .sell-info h1{
        font-size: 22px;
    }
    .sell-equ-card .sell-info p{
        font-size: 15px;
        line-height: 22px;
    }
    .footer .ft-about{
        margin-bottom: 30px;
    }
    .navbar.navbar-light{
        padding: 10px 0;
    }
    .hamburger-menu{
        margin: 0 auto;
    }
    .head-nav.navbar-nav .nav-item{
        width: 100%;
    }
    .head-nav{
        margin-top: 10px;
        background-color: #fff;
    }
    .head-nav.navbar-nav .nav-link{
        border-top:#e3e3e3 solid 1px;
        padding: 10px;
        text-align: left;
        font-size: 13px;
    }
    .head-nav.navbar-nav .dropdown-toggle::after{
        position: absolute;
        right: 15px;
        content: "\f067";
    }
    .head-nav.navbar-nav .dropdown-toggle.show::after{
        content: "\f068";
    }
    .home-raq-sec{
        margin-top: 30px;
    }
    .left-filters-block h2.filt-heading{
        border: solid 1px #dbdbdb;
        border-radius: 4px;
        padding: 8px 10px;
        line-height: normal;
        font-size: 16px;
        position: relative;
    }
    .left-filters-block h2 .fa{
        font-size: 15px;
    }
    .left-filters-block h2 .navbar-toggler{
        padding: 0;
        position: absolute;
        width: 100%;
        text-align: right;
        right: 10px;
    }
    .services-card .services-img{
        width: 200px;
    }
    .contact-form{
        border-left:#e6e6e6 solid 1px;
    }
    .dozer-midd-img{
        display: none;
    }
    .dot-arrow{
        display: none;
    }
    .hg-pr-sec .makes-cat-card{
        text-align: center;
    }
    .hero-auction-caption {
      min-height: 405px!important;
    }
    .auction-caption a {
      top: 72%;
    }
    .auction-caption {
      max-width: 700px!important;
    }
}
@media (max-width: 820px) {
    .hero-auction-caption {
      min-height: 335px!important;
    }
    .auction-caption a {
      top: 72%;
    }
    .auction-caption {
      max-width: 700px!important;
    }
    .truth-title {
        margin-top: 169px;
    }
    .view-more-button a.width-35, .view-more-button a.width-25{
      width: 100%;
      margin-bottom: 10px;
    }
} 
@media (max-width: 767px) {
    .hero-caption{
        padding: 40px;
    }
    .hero-caption h1{
        font-size: 22px;
    }
    .hero-caption h2{
        line-height: 24px;
        font-size: 18px;
    }
    .hero-caption .caption-list li{
        font-family: 13px;
    }
    .home-hero-sec{
        min-height: inherit;
    }
    .mobile-app-sec .app-sec{
        padding: 15px;
    }
    .mobile-app-sec .app-sec .brd{
        min-height: inherit;
    }
    .mobile-app-sec .app-sec h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .sell-equ-card{
        flex-direction: column;
    }
    .sell-equ-card .sell-img{
        width: 100%;
    }
    .sell-equ-card .sell-img img{
        width: 100%;
    }
    .sell-equ-card .sell-info{
        flex-shrink: 0;
    }
    .home-raq-sec .raq-box h1{
        font-size: 28px;
        margin-bottom: 15px;
    }  
    .home-raq-sec .raq-box h3{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .sec-title{
        font-size: 24px;
    }
    .home-raq-sec,
    .home-three-block-sec,
    .mobile-app-sec,
    .cat-listing-sec,
    .latest-inv-sec,
    .home-reg-sign-sec,
    .home-makes-cat-sec{
        margin-top: 20px;
    }
    .service-listing-sec{
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .home-makes-cat-sec{
        padding: 20px 0;
    }
    .brow-inv-sec{
        margin-top: 20px;
        padding-bottom: 40px;
    }
    .brow-inv-sec ul{
        column-count: 1;
    }
    .need-help-sec{
        margin: 20px 0;
    }
    .sell-equipment-bg{
        display: none;
    }
    .sell-equ-card{
        margin-top: 0;
    }
    .sell-equ-card .sell-info{
        padding: 20px;
    }
    .need-help-sec p{
        width: 100%;
    }
    .footer .ft-title{
        font-size: 18px;
    }
    .ft-nav{
        column-count: 2;
    }
    .footer .copyright{
        margin-top: 20px;
        text-align: center;
    }
    .raq-box .offer-block{
        width: 270px;
    }
    .products-detail-sec{
        margin-top: 20px;
    }
    .prd-cat-list .cate-name{
        padding: 5px 10px;
    }
    .prd-det-bg-box{
        padding: 15px;
    }
    .login-sec{
        padding: 20px 0px;
    }
    .login-sec .form-bg{
        padding: 15px;
    }
    .financ-solu-sec,
    .global-financ-sec{
        margin-top: 20px;
    }
    .finance-lease-sec{
        margin:20px 0;
        padding: 20px 0;
    }
    .pre-approved-sec{
        margin-top: 20px;
    }
    .icon-text-list li{
        font-size: 15px;
    }
    .financ-det-card h2{
        font-size: 19px;
    }
    .dropbox-icon-card h3{
        font-size: 18px;
    }
    .financ-solu-sec .financ-solu-det h3{
        font-size: 20px;
    }
    .inner-head-sec{
        min-height: 200px;
    }
    .gba-know-sec{
        margin-top: 20px;
    }
    .inner-head-caption h1{
        font-size: 24px;
    }
    .blog-list-card .blog-img{
        height: auto;
    }
    .services-card .services-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .ser-include-sec{
        margin-top: 0px;
        padding: 20px 0;
    }
    .ser-experts-sec,
    .ser-list-sec{
        margin-top: 20px;
    }
    .testimonials-sec{
        margin: 20px 0;
    }
    .gmp-section{
        margin-top: 20px;
    }
    .pem-list li{
        font-size: 14px;
        line-height: 20px;
    }
    .prd-det-bg-box .tab-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .slider-for .slick-slide{
        height: 250px;
    }
    .slider-nav .item-slick img, .slider-nav-one .item-slick img{
        height:60px;
        width:60px;
    }
    .slider-for-11 .slick-slide{
      height: 300px !important;
    }
    .slider-for-one .slick-slide img{
        max-height: 520px;
        height: 520px;
        object-fit: cover;
    }
    .watermark img{
        max-height: 35px;
    }
    .truth-title {
        margin-top: 66px;
    }
    .view-more-button a.width-35, .view-more-button a.width-25{
      width: 100%;
      margin-bottom: 10px;
    }
}
@media (max-width: 700px) {
    .hero-auction-caption {
      min-height: 941px!important;
      text-align: center;
      padding-top: 384px;
    }
    .auction-caption a {
        position: relative!important; 
        top: 75%;
    }
    .slider-for-one .slick-slide img{
        max-height: 420px;
        height: 420px;
        object-fit: cover;
    }
    .watermark img{
        max-height: 31px;
    }
}
@media (max-width: 568px) {
    .head-nav .dropdown-menu.max-width-menu{
        columns: 1;
    }
    .search-bar{
        min-width: inherit;
    }
    .right-search .primary-btn{
        font-size: 12px;
        padding: 8px;
    }
    .hero-caption h1{
        font-size: 18px;
    }
    .hero-caption h2 {
        line-height: 20px;
        font-size: 15px;
    }
    .finance-lease-sec ul{
        column-count: 1;
    }
    .dropbox-icon-card .two-column{
        column-count: 1;
    }
    .gma-fc-card{
        width: 150px;
        min-height: inherit;
    }
    .gmp-card.full{
        flex-direction: column;
    }
    .gmp-card.full .img{
        width: 100%;
    }
    .pem-list{
        column-count: 2;
    }
    .mobile-center{
        text-align: center!important;
    }
    .mobile-top-margin{
        margin-top: 0.5rem!important;
    }
    .mobile-margin{
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    .offer-text h4{
        font-size: 22px;
    }
    .offer-text p{
        font-size: 13px;
        line-height: 20px;
    }
    .images-360{
        width: 350px !important;
        height: 300px !important;
    }
    /*.hero-auction-caption {
      min-height: 335px!important;
    }*/
    .hero-auction-caption {
      text-align: center;
      padding-top: 384px;
    }
    .auction-caption a {
        position: relative!important; 
        top: 75%;
    }
    .slider-for-one .slick-slide img{
        max-height: 420px;
        height: 420px;
        object-fit: cover;
    }
    .watermark img{
        max-height: 31px;
    }
    .truth-title{
      margin-top: 93px;
    }
    .width-66{
        width: 100%;
    }
    .padding-right-0{
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
    .view-more-button a.width-49 {
        width: 49.5%;
    }
    .description-section.width-34 {
        width: 100%;
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-top: 4px;
    }
}
@media (max-width: 479px) {
    .hero-auction-caption {
      min-height: 652px!important;
      padding-top: 265px;
    }
    .slider-for-one .slick-slide img{
        max-height: 340px;
        height: 340px;
        object-fit: cover;
    }
    .watermark img{
        max-height: 25px;
    }
    .lg-img-rotate:after{
        margin-top: 60px;
    }
    .view-more-button a.width-49 {
        width: 100%;
        padding-top: 4px;
    }
    .description-section.width-34{
        padding-top: 3px;
    }
    .mobile-margin-top{
      margin-top: 3px;
    }
}
@media (max-width: 420px) {
    .hero-auction-caption {
      min-height: 560px!important;
      padding-top: 225px;
    }
    .slider-for-one .slick-slide img{
        max-height: 320px;
        height: 320px;
        object-fit: cover;
    }
    .watermark img{
        max-height: 25px;
    }
}
@media (max-width: 320px) {

}
@media only screen and (max-width: 375px) {
    .logo-block .logo div{
      max-width: 169px;
      margin-right: auto!important;
      margin-left: auto!important;
    }
    .gma_btn_secondary {
        padding: 3px 9px;
    }
}